set editing-mode vi
set show-all-if-unmodified on
set page-completions off
set match-hidden-files off
set bell-style none

# Seems buggy, at least when mixed with vi editing mode
set enable-bracketed-paste off

# This allows unix-word-rubout to work:
# http://lists.gnu.org/archive/html/help-bash/2016-11/msg00004.html
set bind-tty-special-chars off

set keymap vi-insert
control-e: end-of-line
control-a: beginning-of-line
control-l: clear-screen
control-w: unix-word-rubout
"\e[A": history-search-backward
"\e[B": history-search-forward
"\M-s": menu-complete
control-space: history-expand-line

# doesn't seem to work
#$if java
#    set keymap vi-move
#    "v": rlwrap_call_editor
#$endif

#$if Bash
#Space: magic-space
#$endif

